<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <style>
        .button{
            background-color: red;
            text-align: center;
            color: white;
            width: 7vw;
            height: 3vw;
        }
        </style>
    <form id="login-form" action="/change_password" method="post">
        <p><label for="password">Previous Password</label>
        <input type="password" id="email"  name="previous_password" /></p>
        <p><label for="password">New Password</label>
        <input type="password" id="email"  name="new_password" /></p>
        <p><button type="submit" class= "button">Change Password</button></p>
    </form>
    </html>