<!DOCTYPE html>
<meta charset="utf-8">
<script>
    $(document).ready(function() {
        $('.nav-btn').on('click', function(event) {
            event.preventDefault();
            /* Act on the event */
            $('.sidebar').slideToggle('fast');
    
            window.onresize = function(){
                if ($(window).width() >= 768) {
                    $('.sidebar').show();
                } else {
                    $('.sidebar').hide();
                }
            };
        });
    });
    </script>
    <header>
            <div class="logo">Xero<span>Source</span></div>
            <!-- <link rel="stylesheet" href="dash.css"> -->
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dash.css') }}">

    
        </header>
        <div class="nav-btn">Menu</div>
        <div class="container">
            
            <div class="sidebar">
                <nav>
                    <a href="#">Op<span>tions</span></a>
                    <ul>
                        <li class="active"><a href="#">User Dashboard</a></li>
                        <li><a href="{{ url_for('dynamoRoute.get_booking_for_user') }}">View My Bookings</a></li>
                        <li><a href="{{ url_for('cognitoRoute.about_page_user') }}">About</a></li>
                        <li><a href="{{ url_for('cognitoRoute.contact_page_user') }}">Contact</a></li>
                    </ul>
                </nav>
            </div>
    
            <div class="main-content">
                <h1>Dashboard</h1>
                <a href="{{ url_for('cognitoRoute.login') }}"><button class="button_log_out">Logout</button></a>
                <p>Whats new?</p>
                <div class="panel-wrapper">
                    <div class="panel-head">
                        Video Call
                    </div>
                    <div class="panel-body">
                        <button class="button_join_call">Join Your Call</button>
                    </div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel-head">
                        Profile
                    </div>

                    <div class="panel-body">
                        Check if your details are correct: 
                        <button type="submit" class="button_join_call"  onclick="location.href='/profile'" class="button is-success">Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </html>


<!DOCTYPE html>
<meta charset="utf-8">

<html>
<body>
Home
<button type="submit"  onclick="location.href='/profile'" class="button is-success">Profile</button>


</body>
</html>